body {
    background-color: rgb(255, 253, 253)f3;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
} 

nav {
    background-color: #4a83ee;
    padding: 10px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #4762fcd7;
}

h6 {
    position: fixed;
    right: 736px;
    bottom:100px;
    color:#111111;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6bb2f5f3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

#combustivel{
    background-color: #6bb2f5f3;
    position: fixed;
    bottom: 600px;
}